pandas
numpy
flask
flask-cors
ollama
openpyxl
pyarrow
psutil
requests
langchain
langchain-chroma
langchain-huggingface
langchain-community
langchain-ollama
langchain-core
langchain-text-splitters
sentence-transformers
tiktoken
chromadb
pdfplumber
python-docx
datasets